@charset "UTF-8";

main {
    padding-top: 20px;
    padding-left: 25px;
}

h1.titproduct {
    font-size: 40px;
}

.products {
    grid-template-columns: 1fr;
}

.data {
    line-height: clamp(15px, 2em, 20px);
}

button.addTo {
    width: 9rem;
    font-size: clamp(0.3rem, 1.7vw + 0.3rem, 15px);

    bottom: -2%;
    left: 25%;
}

button.addTo::before {
    width: 20px;
    height: 20px;
}

p.description {
    font-size: clamp(0.3rem, 1.7vw + 0.3rem, 15px);
}

p.item {
    font-size: clamp(0.3rem, 1.7vw + 0.3rem, 15px);
}

p.price {
    font-size: clamp(0.3rem, 1.7vw + 0.3rem, 15px);
}

aside {
    width: 85vw;
    margin-top: 20px;
}

#modal {
    height: 100%;
    width: 100%;
    margin-top: 180px;
}