@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Weights: 400, 600, 700 */

:root {
    --cred: hsl(14, 86%, 42%);
    --cgreen: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Red Hat Text", sans-serif;
    background-color: var(--rose100);
}

body {
    margin: 0 auto;
    width: 60%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    width: 70%;
    padding: 60px 100px;

    display: flex;
    flex-wrap: wrap;
}

h1.titproduct {
    width: 100%;
}

.products {
    padding-top: 20px;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

div img {
    width: 200px;
    border-radius: 8px;
}

p.description {
    font-size: 0.9em;
    font-weight: 600;
}

p.item {
    color: var(--rose400);
    font-size: 0.7em;
    font-weight: 600;
}

p.price {
    color: var(--cred);
    font-weight: 600;
    font-size: 0.8em;
}

section.products div button {
    font: normal 600 0.8em "Red Hat Text", sans-serif;
    color: var(--rose900);
    gap: 4px;
    line-height: 1;
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--rose400);
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.products div button:hover {
    background-color: var(--rose900);
    color: var(--rose50);
    cursor: pointer;
}

.products div button::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url(../assets/images/icon-add-to-cart.svg) no-repeat center/contain;
    margin-right: 4px;
    vertical-align: 5px;
}

aside {
    background-color: var(--rose50);
    width: 330px;
    height: 240px;
    border-radius: 8px;
    margin-top: 70px;
}

aside h2 {
    color: var(--cred);
    padding: 15px 20px;
}

aside img {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 28%;
}

aside p {
    color: var(--rose500);
    font-weight: 600;
    font-size: 0.7em;
    text-align: center;
    padding-top: 5px;
}

footer {
    width: 100%;
    font-size: 0.6em;
    padding-top: 20px;
    text-align: center;
    flex-grow: 1;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}