@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Weights: 400, 600, 700 */

:root {
    --cred: hsl(14, 86%, 42%);
    --cgreen: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Red Hat Text", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--rose100);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    width: 100%;
    max-width: 700px;
    padding: 40px 10px;

    display: flex;
    flex-wrap: wrap;
}

h1.titproduct {
    width: 100%;
    text-indent: 10px;
}

.products {
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 700px;
    height: 80vh;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 1.5rem;
    justify-items: center;
    align-items: start;
}

.products div {
    position: relative;
    width: 169px;
}

.products div img {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 8px;
    display: block;
}

button.addTo {
    font: normal 600 0.7em "Red Hat Text", sans-serif;
    color: var(--rose900);
    gap: 4px;
    line-height: 1;
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--rose300);
    padding: 6px 14px 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 14%;
    transform: translate(3%, -185%);
    z-index: 2;
    transition: .2s ease;
}

button.addTo::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url(../assets/images/icon-add-to-cart.svg) no-repeat center/contain;
    margin-right: 1px;
    vertical-align: 5px;
}

button.addTo:hover {
    background-color: var(--rose50);
    border: 1px solid hsl(14, 89%, 34%);
    color: hsl(14, 89%, 34%);
    cursor: pointer;
    font-weight: normal;
}

.added {
    background-color: var(--cred);
}

.added::before {
    display: none;
}

.added:hover {
    background-color: hsl(14, 89%, 34%) !important;
    color: white !important;
}

.qty-controls span {
    display: inline-block;
}

.minus {
    background: url(../assets/images/icon-decrement-quantity.svg) no-repeat 2px 5.5px;
}

.plus {
    background: url(../assets/images/icon-increment-quantity.svg) no-repeat 2px 5.5px;
}

.minus, .plus {
    background-size: 7.8px;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50px;
}

p.description {
    font-size: 0.8em;
    font-weight: 600;
}

p.item {
    color: var(--rose300);
    font-size: 0.7em;
    font-weight: 600;
}

p.price {
    color: var(--cred);
    font-weight: 600;
    font-size: 0.8em;
}

p.price::before {
    content: "$";
}

aside {
    height: auto;
    background-color: var(--rose50);
    width: 280px;
    border-radius: 8px;
    margin-top: 70px;
    align-self: flex-start;
}

aside h2 {
    font-size: 1.2em;
    color: var(--cred);
    padding: 15px 20px;
}

aside img {
    display: block;
    margin: auto;
    width: 100px;
    text-align: center;
}

aside p {
    color: var(--rose500);
    font-weight: 600;
    font-size: 0.7em;
    text-align: center;
    padding-bottom: 30px;
}

#cart-items {
    list-style-type: none;
    padding-left: 20px;
    font-size: .8em;
}

#cart-item {
    display: grid;
    grid-template-columns: 50px 1fr auto auto auto;
}

.remove-btn {
    width: 24px;
    height: 24px;
    background: url(../assets/images/icon-remove-item.svg) no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

footer {
    width: 100%;
    font-size: 0.6em;
    color: var(--rose300);
    padding-top: 20px;
    text-align: center;
    flex-grow: 1;
}

footer a {
    text-decoration: none;
    color: var(--rose500);
}

footer a:hover {
    text-decoration: underline;
}